.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

.home p {
    color: #737886;
}

@media (max-width: 500px) {
    h1 {
        font-size: 15px;
    }
    h3 {
        font-size: 12px;
    }
}