.Nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
}

.header {
    justify-content: flex-start;
    width: 33%;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    font-style: italic;
    text-align: center;
}

.links a {
    text-decoration: none;
}

.user {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    width: 33%;
}

.Nav * {
    padding: 10px;
}

.user img {
    border-radius: 75px;
}

.user button {
    border-radius: 10px;
}

#displayName {
    text-align: center;
}


