.Nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
}

.header {
    justify-content: flex-start;
    width: 33%;
}

#hamburger {
    display: none;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    font-style: italic;
    text-align: center;
}

.links a {
    text-decoration: none;
}

.user {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    width: 33%;
}

.Nav * {
    padding: 10px;
}

.user img {
    border-radius: 75px;
}

.user button {
    border-radius: 10px;
}

#displayName {
    text-align: center;
}


@media screen and (max-width: 700px) {

    .Nav * {
        font-size: 15px;
    }

    #hamburger {
        justify-content: center;
        
    }

    #appName {
        display: none;
    }
    
    #hamburger {
        display: flex;
    }

    .user img {
        width: 30%;
    }

    .user {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 0;
        width: 100%;
    }

    .links * {
        font-size: 10px;
        padding: 5px;
        margin-right: 2px;
    }
  

}


