.watchlistName {
    text-align: center;
}

.watchlistUpdate {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.watchlistUpdate * {
    margin: auto 5px;
}

.listOfStocks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 1000px;
    margin: auto;
    gap: 10px 50px;
}

.watchlistStock {
    display: flex;
    flex-direction: column;
    width: max-content;
    height: max-content;
    text-align: center;
    border-radius: 5px;
}
.watchlistStock button {
    align-items: flex-end;
    text-align: center;
    width: max-content;
    margin: auto auto 10px auto;
}
.watchlistStock p {
    margin: 10px;
    text-align: center;
}

@media (max-width: 700px) { 
    .listOfStocks {
        flex-direction: column;
        width: 100%;
    }
    .watchlistStock {
        margin: 5px auto;
    }
}